
# Copyright (c) 2019-2020, The Linux Foundation. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are
# met:
#     * Redistributions of source code must retain the above copyright
#       notice, this list of conditions and the following disclaimer.
#     * Redistributions in binary form must reproduce the above
#       copyright notice, this list of conditions and the following
#       disclaimer in the documentation and/or other materials provided
#       with the distribution.
#     * Neither the name of The Linux Foundation nor the names of its
#       contributors may be used to endorse or promote products derived
#       from this software without specific prior written permission.
#
# THIS SOFTWARE IS PROVIDED "AS IS" AND ANY EXPRESS OR IMPLIED
# WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF
# MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT
# ARE DISCLAIMED.  IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS
# BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
# CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
# SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR
# BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
# WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE
# OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN
# IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
#
#

import /vendor/etc/init/hw/init.qti.kernel.rc

on property:sys.boot_completed=1
    chmod 0640 /sys/fs/selinux/enforce

on early-init
    write /proc/sys/kernel/sched_boost 1
    wait /sys/devices/soc0/soc_id

on init
    # Scheduler uclamp
    mkdir /dev/cpuctl/foreground
    mkdir /dev/cpuctl/background
    mkdir /dev/cpuctl/top-app
    mkdir /dev/cpuctl/rt
    chown system system /dev/cpuctl
    chown system system /dev/cpuctl/foreground
    chown system system /dev/cpuctl/background
    chown system system /dev/cpuctl/top-app
    chown system system /dev/cpuctl/rt
    chown system system /dev/cpuctl/tasks
    chown system system /dev/cpuctl/foreground/tasks
    chown system system /dev/cpuctl/background/tasks
    chown system system /dev/cpuctl/top-app/tasks
    chown system system /dev/cpuctl/rt/tasks
    chmod 0664 /dev/cpuctl/tasks
    chmod 0664 /dev/cpuctl/foreground/tasks
    chmod 0664 /dev/cpuctl/background/tasks
    chmod 0664 /dev/cpuctl/top-app/tasks
    chmod 0664 /dev/cpuctl/rt/tasks
    write /dev/cpuctl/foreground/cpu.rt_runtime_us 950000
    write /dev/cpuctl/background/cpu.rt_runtime_us 950000
    write /dev/cpuctl/top-app/cpu.rt_runtime_us 950000
    write /dev/cpuctl/rt/cpu.rt_runtime_us 950000

    wait /dev/block/platform/soc/${ro.boot.bootdevice}
    symlink /dev/block/platform/soc/${ro.boot.bootdevice} /dev/block/bootdevice
    chown system system /sys/devices/platform/soc/1d84000.ufshc/auto_hibern8
    chmod 0660 /sys/devices/platform/soc/1d84000.ufshc/auto_hibern8
    start logd

on early-fs
    start vold

on fs
    start hwservicemanager
    mkdir /mnt/vendor/spunvm 0660 system system
    mount_all --early
    chown root system /mnt/vendor/persist
    chmod 0771 /mnt/vendor/persist
    restorecon_recursive /mnt/vendor/persist
    mkdir /mnt/vendor/persist/data 0700 system system
    #GW9578 fp
    chmod 666 /dev/goodix_fp
    chown system system /dev/goodix_fp
    chown system system /sys/class/backlight/panel0-backlight/hbm_mode
    #chmod tfa climax
    chmod 666 /sys/bus/i2c/devices/1-0034/reg
    chmod 666 /sys/bus/i2c/devices/1-0034/rw
    chmod 666 /sys/bus/i2c/devices/1-0035/reg
    chmod 666 /sys/bus/i2c/devices/1-0035/rw
    chmod 666 /sys/kernel/debug/tfa98xx-34/rpc
    chmod 666 /sys/kernel/debug/tfa98xx-35/rpc
    chmod 666 /proc/tfa98xx-34/rpc
    chmod 666 /proc/tfa98xx-35/rpc
    chmod 666 /sys/class/qcom-haptics/lra_calibration
    chmod 666 /sys/class/qcom-haptics/lra_frequency_hz
    chmod 666 /sys/class/qcom-haptics/lra_impedance
    chown system system /sys/class/qcom-haptics/lra_calibration
    chown system system /sys/class/qcom-haptics/lra_frequency_hz
    chown system system /sys/class/qcom-haptics/lra_impedance

on post-fs-data
    mkdir /data/vendor/goodix 0700 system system

on fs && property:ro.boot.product.vendor.sku=lahaina
    mkdir /mnt/vendor/spunvm 0660 system system
    wait /dev/block/bootdevice/by-name/spunvm
    mount vfat /dev/block/bootdevice/by-name/spunvm /mnt/vendor/spunvm rw noatime shortname=lower,uid=1000,gid=1000,dmask=007,fmask=007,context=u:object_r:vendor_spunvm_file:s0

on post-fs
    # set RLIMIT_MEMLOCK to 64MB
    setrlimit 8 67108864 67108864

on late-fs
    wait_for_prop hwservicemanager.ready true
    #exec_start wait_for_keymaster
    mount_all --late

on post-fs-data
    restorecon_recursive /mnt/vendor/persist
    mkdir /mnt/vendor/persist/camera 0777 cameraserver cameraserver
    mkdir /vendor/data/tombstones 0771 system system
    # Enable WLAN cold boot calibration
    write /sys/devices/platform/soc/b0000000.qcom,cnss-qca6490/fs_ready 1

on post-fs-data
    mkdir /data/vendor/camera 0775 camera camera
    copy /mnt/vendor/persist/camera/bokeh_caldata_uw_persist.bin /data/vendor/camera/bokeh_caldata_uw_persist.bin
    chmod 0444 /data/vendor/camera/bokeh_caldata_uw_persist.bin
    chown cameraserver audio /data/vendor/camera/bokeh_caldata_uw_persist.bin
    copy /mnt/vendor/persist/camera/ois_caldata_wide_persist.bin /data/vendor/camera/ois_caldata_wide_persist.bin
    chmod 0444 /data/vendor/camera/ois_caldata_wide_persist.bin
    chown cameraserver audio /data/vendor/camera/ois_caldata_wide_persist.bin

on early-boot
    start vendor.sensors

on boot
    write /dev/cpuset/audio-app/cpus 1-2
    # Add a cpuset for the camera daemon
    # We want all cores for camera
    mkdir /dev/cpuset/camera-daemon
    write /dev/cpuset/camera-daemon/cpus 0-7
    write /dev/cpuset/camera-daemon/mems 0
    chown cameraserver cameraserver /dev/cpuset/camera-daemon
    chown cameraserver cameraserver /dev/cpuset/camera-daemon/tasks
    chmod 0660 /dev/cpuset/camera-daemon/tasks
    chown system /sys/devices/platform/soc/990000.i2c/i2c-0/0-0049/trusted_touch_enable
    chmod 0660 /sys/devices/platform/soc/990000.i2c/i2c-0/0-0049/trusted_touch_enable
    chown system /sys/devices/platform/soc/990000.i2c/i2c-0/0-0038/trusted_touch_enable
    chmod 0660 /sys/devices/platform/soc/990000.i2c/i2c-0/0-0038/trusted_touch_enable
    chown system /sys/devices/platform/soc/988000.i2c/i2c-1/1-0038/trusted_touch_enable
    chmod 0660 /sys/devices/platform/soc/988000.i2c/i2c-1/1-0038/trusted_touch_enable
    chown system /sys/devices/platform/soc/990000.i2c/i2c-0/0-0049/trusted_touch_event
    chmod 0660 /sys/devices/platform/soc/990000.i2c/i2c-0/0-0049/trusted_touch_event
    chown system /sys/devices/platform/soc/990000.i2c/i2c-0/0-0038/trusted_touch_event
    chmod 0660 /sys/devices/platform/soc/990000.i2c/i2c-0/0-0038/trusted_touch_event
    chown system /sys/devices/platform/soc/988000.i2c/i2c-1/1-0038/trusted_touch_event
    chmod 0660 /sys/devices/platform/soc/988000.i2c/i2c-1/1-0038/trusted_touch_event
    chown system /sys/devices/platform/soc/a94000.i2c/i2c-2/2-0062/trusted_touch_enable
    chmod 0660 /sys/devices/platform/soc/a94000.i2c/i2c-2/2-0062/trusted_touch_enable
    chown system /sys/devices/platform/soc/a94000.i2c/i2c-2/2-0062/trusted_touch_event
    chmod 0660 /sys/devices/platform/soc/a94000.i2c/i2c-2/2-0062/trusted_touch_event
    chown system /sys/devices/system/cpu/hyp_core_ctl/enable
    chown system /sys/devices/system/cpu/hyp_core_ctl/hcc_min_freq
    # add for MZ to write sa_dump
    chown system system /sys/dump_node
    chown system system /sys/dump_node/sa_dump
    chmod 0660 /sys/dump_node/sa_dump
    # add for MZ to write hbm_mode
    chown system system /sys/class/drm/sde-conn-1-DSI-1/hbm_mode
    chmod 0666 /sys/class/drm/sde-conn-1-DSI-1/hbm_mode
    # add for cit to read panel_id
    chown system system /sys/class/drm/sde-conn-1-DSI-1/panel_id
    chmod 0600 /sys/class/drm/sde-conn-1-DSI-1/panel_id
    # add for cit to write leds
    chown system system /sys/devices/platform/soc/984000.i2c/i2c-0/0-0020/leds/aw210xx_led/all_leds_effect
    #add for TP to write mode
    chown system system /sys/bus/spi/devices/spi0.0/fts_edge_mode
    chown system system /sys/bus/spi/devices/spi0.0/fts_gesture_mode
    # add for cit to write wireless_boost_en
    #chown system system /sys/class/qcom-battery/wireless_boost_en
    # add for cit to write wls_st38_reg
    #chown system system /sys/class/qcom-battery/wls_st38_reg
    # add for runin to write charger
    #chown system system /sys/class/qcom-battery/usb_charger_en
    # add for slowcharge need to write charger
    #chown system system /sys/class/qcom-battery/slowcharge_en
    # add for ledTest to write led brightness
    chown system system /sys/devices/platform/soc/984000.i2c/i2c-0/0-0020/leds/aw210xx_led/all_white_leds_br
    chown system system /sys/devices/platform/soc/984000.i2c/i2c-0/0-0020/leds/aw210xx_led/glo_current
    chown system system /sys/devices/platform/soc/984000.i2c/i2c-0/0-0020/leds/aw210xx_led/rear_cam_led_br
    chown system system /sys/devices/platform/soc/984000.i2c/i2c-0/0-0020/leds/aw210xx_led/front_cam_led_br
    chown system system /sys/devices/platform/soc/984000.i2c/i2c-0/0-0020/leds/aw210xx_led/horse_race_leds_br
    chown system system /sys/devices/platform/soc/984000.i2c/i2c-0/0-0020/leds/aw210xx_led/round_leds_br
    chown system system /sys/devices/platform/soc/984000.i2c/i2c-0/0-0020/leds/aw210xx_led/single_led_br
    chown system system /sys/devices/platform/soc/984000.i2c/i2c-0/0-0020/leds/aw210xx_led/round_leds_effect
    chown system system /sys/devices/platform/soc/984000.i2c/i2c-0/0-0020/leds/aw210xx_led/horse_race_leds
    #add for hal write lednode
    chown system system /sys/devices/platform/soc/984000.i2c/i2c-0/0-0020/leds/aw210xx_led/wired_charging_leds
    chown system system /sys/devices/platform/soc/984000.i2c/i2c-0/0-0020/leds/aw210xx_led/random_delay
    chown system system /sys/devices/platform/soc/984000.i2c/i2c-0/0-0020/leds/aw210xx_led/random_leds_effect
    chown system system /sys/devices/platform/soc/984000.i2c/i2c-0/0-0020/leds/aw210xx_led/keybd_leds_effect
    chown system system /sys/devices/platform/soc/984000.i2c/i2c-0/0-0020/leds/aw210xx_led/wlr_charging_leds
    chown system system /sys/devices/platform/soc/984000.i2c/i2c-0/0-0020/leds/aw210xx_led/video_leds_effect
    chown system system /sys/devices/platform/soc/984000.i2c/i2c-0/0-0020/leds/aw210xx_led/ga_leds_effect
    chown system system /sys/devices/platform/soc/984000.i2c/i2c-0/0-0020/leds/aw210xx_led/nf_leds_effect
    chown system system /sys/devices/platform/soc/984000.i2c/i2c-0/0-0020/leds/aw210xx_led/bootan_leds_effect
    chown system system /sys/devices/platform/soc/984000.i2c/i2c-0/0-0020/leds/aw210xx_led/rear_cam_leds_effect
    chown system system /sys/devices/platform/soc/984000.i2c/i2c-0/0-0020/leds/aw210xx_led/music_leds_effect
    chown system system /sys/devices/platform/soc/984000.i2c/i2c-0/0-0020/leds/aw210xx_led/ringtone_leds_effect
    chown system system /sys/devices/platform/soc/984000.i2c/i2c-0/0-0020/leds/aw210xx_led/flip_leds_effect
    chown system system /sys/devices/platform/soc/984000.i2c/i2c-0/0-0020/leds/aw210xx_led/exclamation_leds_effect
    chown system system /sys/devices/platform/soc/984000.i2c/i2c-0/0-0020/leds/aw210xx_led/setting_leds_effect
    chown system system /sys/devices/platform/soc/984000.i2c/i2c-0/0-0020/leds/aw210xx_led/setting_br
    #USB controller configuration
    setprop vendor.usb.rndis.func.name "gsi"
    setprop vendor.usb.rmnet.func.name "gsi"
    setprop vendor.usb.rmnet.inst.name "rmnet"
    setprop vendor.usb.dpl.inst.name "dpl"
    setprop vendor.usb.qdss.inst.name "qdss_mdm"
    setprop vendor.usb.controller a600000.dwc3
    #Allow access to memory hotplug device attributes
    chown system system /sys/kernel/mem-offline/anon_migrate
	chown system system /proc/modem_restart
    chown system system /proc/stat
    #start ft-diag
    start ft_diag

#add by zh for ABR-3187
on property:persist.sys.runin.reboot=false
   write /sys/class/qcom-battery/usb_charger_en 0

on property:vendor.display.lcd_density=560
   setprop dalvik.vm.heapgrowthlimit 256m

on property:vendor.display.lcd_density=640
   setprop dalvik.vm.heapgrowthlimit 512m

on boot && property:persist.vendor.usb.controller.default=*
    setprop vendor.usb.controller ${persist.vendor.usb.controller.default}

on init && property:ro.boot.mode=charger
    mount_all /vendor/etc/charger_fw_fstab.qti --early
    write /sys/kernel/boot_adsp/boot 1
    wait /sys/class/power_supply/battery

on charger
    start vendor.power_off_alarm
    setprop sys.usb.controller a600000.dwc3
    setprop sys.usb.configfs 1

service vendor.lowi /vendor/bin/lowirpcd
   class core
   user system
   group system wakelock
   capabilities BLOCK_SUSPEND

#pd-mapper
service vendor.pd_mapper /vendor/bin/pd-mapper
    class core
    user system
    group system

#Peripheral manager
service vendor.per_mgr /vendor/bin/pm-service
    class core
    user system
    group system
    ioprio rt 4

service vendor.per_proxy /vendor/bin/pm-proxy
    class core
    user system
    group system
    disabled

#service vendor.mdm_helper /vendor/bin/mdm_helper
#    class core
#    group system wakelock
#    disabled

service vendor.mdm_launcher /vendor/bin/sh /vendor/bin/init.mdm.sh
    class core
    oneshot

on property:init.svc.vendor.per_mgr=running
    start vendor.per_proxy

on property:sys.shutdown.requested=*
    stop vendor.per_proxy

on property:vold.decrypt=trigger_restart_framework
   start vendor.cnss_diag

service vendor.cnss_diag /system/vendor/bin/cnss_diag -q -f -t HELIUM
   class main
   user system
   group system wifi inet sdcard_rw media_rw diag
   oneshot

#fan-controller
service fan_control_turn_on /vendor/bin/fan_control 1
    class late_start
    user root
    disabled
    oneshot

service fan_control_turn_off /vendor/bin/fan_control 0
    class late_start
    user root
    disabled
    oneshot

#lei.wang add for fix ABR-460
#synchronization vendor properties@{
on property:persist.vendor.camera.singlebokeh.enable=*
   setprop persist.vendor.camera.vendor_singlebokeh.enable ${persist.vendor.camera.singlebokeh.enable}
#@}

#dandy add for fix ABR-942
#Increase boot light effect@{
on property:service.bootanim.exit=0
   write /sys/devices/platform/soc/984000.i2c/i2c-0/0-0020/leds/aw210xx_led/bootan_leds_effect 1

on property:service.bootanim.exit=1
   write /sys/devices/platform/soc/984000.i2c/i2c-0/0-0020/leds/aw210xx_led/bootan_leds_effect 0
#@}
#ningfei add for fix ABR-3149
#add system group for charger node@{
on property:service.bootanim.exit=1
    # add for cit to write wireless_boost_en
    chown system system /sys/class/qcom-battery/wireless_boost_en
    # add for cit to write wls_st38_reg
    chown system system /sys/class/qcom-battery/wls_st38_reg
    # add for runin to write charger
    chown system system /sys/class/qcom-battery/usb_charger_en
    # add for slowcharge need to write charger
    chown system system /sys/class/qcom-battery/slowcharge_en
    # add for slowcharge need to write charger
    chown system system /sys/class/qcom-battery/charge_pump_enable
    # add for ABR-2547
    chown system system /sys/class/qcom-battery/charge_power
    # add for ABR-12041
    write /sys/class/qcom-battery/slowcharge_en 1
#@}

# funk.tan for ship_mode @{
on property:sys.ship_mode.enable=0
   write /sys/class/qcom-battery/ship_mode_en 0

on property:sys.ship_mode.enable=1
   write /sys/class/qcom-battery/ship_mode_en 1
# @}

# leiwang add for ft_diag @{
service ft_diag /vendor/bin/ft_diag
   class main
   user root
   group system
# @}

# leiwang add for A+G sensor calibration @{
service vendor.ssc_drva_test.accel /vendor/bin/ssc_drva_test -sensor=accel -factory_test=2 -duration=3
   class core
   user system
   group system
   disabled
   oneshot

service vendor.ssc_drva_test.gyro /vendor/bin/ssc_drva_test -sensor=gyro -factory_test=2 -duration=3
   class core
   user system
   group system
   disabled
   oneshot

on property:sys.ssc_drva_test.accel=start
   start vendor.ssc_drva_test.accel

on property:sys.ssc_drva_test.accel=stop
   stop vendor.ssc_drva_test.accel


on property:sys.ssc_drva_test.gyro=start
   start vendor.ssc_drva_test.gyro

on property:sys.ssc_drva_test.gyro=stop
   stop vendor.ssc_drva_test.gyro
# @}
