on property:vendor.post_boot.parsed=1

# CPU Boost
write /sys/devices/system/cpu/cpu_boost/input_boost_ms 200

# CPUFreq
write /sys/devices/system/cpu/cpu0/cpufreq/schedutil/up_rate_limit_us 500
write /sys/devices/system/cpu/cpu0/cpufreq/schedutil/down_rate_limit_us 20000
write /sys/devices/system/cpu/cpu4/cpufreq/schedutil/up_rate_limit_us 500
write /sys/devices/system/cpu/cpu4/cpufreq/schedutil/down_rate_limit_us 20000
write /sys/devices/system/cpu/cpu7/cpufreq/schedutil/up_rate_limit_us 500
write /sys/devices/system/cpu/cpu7/cpufreq/schedutil/down_rate_limit_us 20000

# CPUSets
write /dev/cpuset/background/cpus 0-1
setprop dalvik.vm.dex2oat-cpu-set 0,1,2,3,4,5,6
setprop dalvik.vm.dex2oat-threads 6
