on property:vendor.post_boot.parsed=1

# IRQ Tuning
# IRQ 70: msm_drm0
# IRQ 222: kgsl_3d0_irq
write /proc/irq/70/smp_affinity_list 2
write /proc/irq/222/smp_affinity_list 1

# CPU Boost
write /sys/devices/system/cpu/cpu_boost/input_boost_ms 200

# CPUFreq
write /sys/devices/system/cpu/cpu0/cpufreq/schedutil/up_rate_limit_us 500
write /sys/devices/system/cpu/cpu0/cpufreq/schedutil/down_rate_limit_us 20000
write /sys/devices/system/cpu/cpu4/cpufreq/schedutil/up_rate_limit_us 500
write /sys/devices/system/cpu/cpu4/cpufreq/schedutil/down_rate_limit_us 20000
write /sys/devices/system/cpu/cpu7/cpufreq/schedutil/up_rate_limit_us 500
write /sys/devices/system/cpu/cpu7/cpufreq/schedutil/down_rate_limit_us 20000

# CPUSets
write /dev/cpuset/background/cpus 0-1
