# Override init.qti.display_boot.sh
on early-boot
        setprop vendor.display.enable_rounded_corner 0
        setprop vendor.display.disable_rounded_corner_thread 1
        setprop vendor.display.enable_rc_support 0
