on late-fs
    chown system system /dev/aw8697_haptic
    chmod 0600 /dev/aw8697_haptic

service vendor.vibrator /vendor/bin/hw/android.hardware.vibrator.service.spacewar
    class hal
    user system
    group system input
    setenv RICHTAP_DEVICE_PATH /dev/aw8697_haptic
    setenv ENV_RICHTAP_CONFIG_PATH /odm/etc/aac_richtap.config
